<!-- Created by Matt Ayme 7/20/21: a navigation bar to display on each page -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Whales Walkathon', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'View the Participants!', participants_index_path, class:'nav-link' %>
        </li>
        <!-- Edited by Matt Ayme 7/22/21: show sign up/in if not signed in-->
        <!-- show only sign out & edit profile if signed in-->
        <% if !(participant_user_signed_in? || pledger_user_signed_in?) %>
          <div class="dropdown me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Participants
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li>
                <%= link_to 'Participant Sign Up', new_participant_user_registration_path,class:"dropdown-item"%>
              </li>
              <li>
                <%= link_to 'Participant Sign in', participant_user_session_path,class:"dropdown-item"%>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Pledgers
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li>
                <%= link_to 'Pledger Sign Up', new_pledger_user_registration_path,class:"dropdown-item"%>
              </li>
              <li>
                <%= link_to 'Pledger Sign in', pledger_user_session_path,class:"dropdown-item"%>
              </li>
            </ul>
          </div>

        <% else %>
            <%if participant_user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Dashboard', participant_users_authenticated_root_path,class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_participant_user_session_path, method: :delete ,class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit Profile',  edit_participant_user_registration_path,class:"nav-link" %>
              </li>
            <% elsif pledger_user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Dashboard', pledger_users_authenticated_root_path,class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_pledger_user_session_path, method: :delete,class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit Profile',  edit_pledger_user_registration_path ,class:"nav-link"%>
              </li>
            <%end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>